```yaml
openapi: 3.0.3
info:
  title: Construction API v2
  version: 1.0.0
  description: API for managing construction-related resources such as projects, tasks, users, invoices, and permissions.
servers:
  - url: https://api.buildersoft.ca/api
    description: Production server
  - url: http://localhost:4000/api
    description: Local development server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: shiva@gmail.com
        password:
          type: string
          example: shiva@123
    Project:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: First Project By Ashish & Co
        description:
          type: string
          example: A new project description by First and co
    Company:
      type: object
      required:
        - companyName
        - companyEmail
        - name
        - email
        - password
      properties:
        companyName:
          type: string
          example: Shiva & Co.
        companyEmail:
          type: string
          example: shiva@gmail.com
        name:
          type: string
          example: Shiva Gyawali
        email:
          type: string
          example: shiva@gmail.com
        password:
          type: string
          example: shiva@123
    Task:
      type: object
      required:
        - title
        - description
        - projectId
      properties:
        title:
          type: string
          example: New Task Example
        description:
          type: string
          example: This is a detailed description of the task.
        projectId:
          type: string
          format: uuid
          example: 78fcd709-9bc5-4e87-abf8-dc39f45faa66
        userIds:
          type: array
          items:
            type: string
            format: uuid
          example: ["84e0bea2-31c0-4703-ac2f-180486e910cf"]
    User:
      type: object
      required:
        - email
        - name
        - role
      properties:
        email:
          type: string
          example: shiv.alfa8@gmail.com
        name:
          type: string
          example: Shiva Gyawali
        role:
          type: string
          example: worker
    WorkLog:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: string
          example: "27.6588"
        longitude:
          type: string
          example: "83.5710"
    Invoice:
      type: object
      required:
        - startDate
        - endDate
        - userId
      properties:
        startDate:
          type: string
          format: date
          example: 2025-03-12
        endDate:
          type: string
          format: date
          example: 2025-03-12
        userId:
          type: string
          format: uuid
          example: 44e36b22-87ec-4127-9b9c-734bac2eeaa7
    Permission:
      type: object
      required:
        - name
        - resource
        - rolePermissions
      properties:
        name:
          type: string
          example: tests
        resource:
          type: string
          example: create,read,update,delete,view,edit,list
        rolePermissions:
          type: string
          example: '[{"role":"root","permissions":["create","delete","edit","list","read","view","update","*"]},{"role":"client","permissions":["create","delete","edit","list","view","update"]},{"role":"admin","permissions":["list","read","view","edit","update","create"]},{"role":"worker","permissions":["read","list","view"]}]'
paths:
  /auth/login:
    post:
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login, returns token
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
      tags:
        - Auth
  /projects/list:
    get:
      summary: Retrieve all projects
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      tags:
        - Project
  /projects/{id}:
    get:
      summary: Get one project
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      tags:
        - Project
    put:
      summary: Update a project
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: Project updated
      tags:
        - Project
    delete:
      summary: Delete a project
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Project deleted
      tags:
        - Project
  /projects/create:
    post:
      summary: Create a project
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      tags:
        - Project
  /companies/register:
    post:
      summary: Register a company
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '201':
          description: Company created
      tags:
        - Company
  /tasks/list:
    get:
      summary: Retrieve all tasks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
      tags:
        - Task
  /tasks/create:
    post:
      summary: Create a task
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
      tags:
        - Task
  /tasks/{id}:
    put:
      summary: Update a task
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Task updated
      tags:
        - Task
    delete:
      summary: Delete a task
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Task deleted
      tags:
        - Task
  /users/list:
    get:
      summary: Retrieve all users
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      tags:
        - Users
  /users/{id}:
    get:
      summary: Retrieve one user
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
        - Users
    delete:
      summary: Delete a user
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted
      tags:
        - Users
  /users/profile:
    get:
      summary: Retrieve user profile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
        - Users
  /users/create:
    post:
      summary: Create a user
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
        - Users
  /worklogs/list:
    get:
      summary: Retrieve all work logs
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of work logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkLog'
      tags:
        - Work Log Service
  /worklogs/start:
    post:
      summary: Create a work log
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkLog'
      responses:
        '201':
          description: Work log created
      tags:
        - Work Log Service
  /worklogs/end:
    post:
      summary: Stop a work log
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkLog'
      responses:
        '200':
          description: Work log stopped
      tags:
        - Work Log Service
  /invoices/list:
    get:
      summary: Retrieve all invoices
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
      tags:
        - Invoices
  /invoices/{userId}:
    get:
      summary: Get user invoices
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of user invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
      tags:
        - Invoices
  /invoices/create:
    post:
      summary: Create an invoice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
      tags:
        - Invoices
  /invoices/{invoiceId}/pay:
    put:
      summary: Mark invoice as paid
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: Invoice marked as paid
      tags:
        - Invoices
  /permissions/list:
    get:
      summary: Retrieve all permissions
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
      tags:
        - Permission
  /permissions/create:
    post:
      summary: Create a permission
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        '201':
          description: Permission created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      tags:
        - Permission
security:
  - BearerAuth: []
```