openapi: 3.0.0
info:
  title: Construction v2
  version: 1.0.0
  description: API for managing construction-related resources such as projects, tasks, users, invoices, and permissions.
servers:
  - url: https://api.buildersoft.ca/api
    description: Production server
  - url: http://localhost:4000/api
    description: Local development server
tags:
  - name: Auth
  - name: Company
  - name: Project
  - name: Task
  - name: Users
  - name: Work Log Service
  - name: Invoices
  - name: Permission
  - name: Events
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token for authentication
  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: iamshivagyawali@gmail.com
        password:
          type: string
          example: shiva@123
    Company:
      type: object
      required:
        - companyName
        - companyEmail
        - name
        - email
        - password
      properties:
        companyName:
          type: string
          example: Shiva & Co.
        companyEmail:
          type: string
          example: shiva@gmail.com
        name:
          type: string
          example: Shiva Gyawali
        email:
          type: string
          example: shiva@gmail.com
        password:
          type: string
          example: shiva@123
    Project:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: First Project By Ashish & Co
        description:
          type: string
          example: A new project description by First and Co
    Task:
      type: object
      required:
        - title
        - description
        - projectId
      properties:
        title:
          type: string
          example: New Task Example
        description:
          type: string
          example: This is a detailed description of the task.
        projectId:
          type: string
          format: uuid
          example: 5c872fed-bef2-4943-9c4c-fe978d0d1e95
        userIds:
          type: array
          items:
            type: string
            format: uuid
          example:
            - 3a3b7f74-4bf7-4980-9698-46fc61f9cf0f
    User:
      type: object
      required:
        - email
        - name
        - role
      properties:
        email:
          type: string
          example: shiva1@gmail.com
        name:
          type: string
          example: Shiva Gyawali
        role:
          type: string
          example: worker
    WorkLog:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: string
          example: '27.6588'
        longitude:
          type: string
          example: '83.5710'
    Invoice:
      type: object
      required:
        - startDate
        - endDate
        - userId
      properties:
        startDate:
          type: string
          format: date
          example: '2025-03-12'
        endDate:
          type: string
          format: date
          example: '2025-03-12'
        userId:
          type: string
          format: uuid
          example: 44e36b22-87ec-4127-9b9c-734bac2eeaa7
    Permission:
      type: object
      required:
        - name
        - resource
        - rolePermissions
      properties:
        name:
          type: string
          example: tests
        resource:
          type: string
          example: create,read,update,delete,view,edit,list
        rolePermissions:
          type: string
          example: '[{"role":"root","permissions":["create","delete","edit","list","read","view","update","*"]},{"role":"client","permissions":["create","delete","edit","list","view","update"]},{"role":"admin","permissions":["list","read","view","edit","update","create"]},{"role":"worker","permissions":["read","list","view"]}]'
    Events:
      type: object
      properties:
        message:
          type: string
          example: Data Fetched Successfully
        statusCode:
          type: integer
          example: 200
        data:
          type: object
          properties:
            totalPages:
              type: integer
              example: 1
            count:
              type: integer
              example: 5
            currentPage:
              type: integer
              example: 1
            nextPageLink:
              type: string
              nullable: true
              example: null
            prevPageLink:
              type: string
              nullable: true
              example: null
            results:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 949b4704-909f-4980-9beb-974c5fe2e3e7
                  title:
                    type: string
                    example: Shiva
                  description:
                    type: string
                    example: Ssssssss
                  startDate:
                    type: string
                    format: date-time
                    example: 2025-06-27T01:04:30.019Z
                  endDate:
                    type: string
                    format: date-time
                    example: 2025-06-27T01:04:30.019Z
                  status:
                    type: string
                    enum: [PENDING, INPROGRESS, COMPLETED]
                    example: INPROGRESS
                  color:
                    type: string
                    example: "#3B82F6"
                  type:
                    type: string
                    enum: [PROJECT, TASK]
                    example: PROJECT
                  companyId:
                    type: string
                    format: uuid
                    example: 09489cef-7e89-4cc5-85b3-dbbcdc3626aa
                  projectId:
                    type: string
                    format: uuid
                    nullable: true
                    example: 78fcd709-9bc5-4e87-abf8-dc39f45faa66

    
paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      security: []
  /companies/register:
    post:
      tags:
        - Company
      summary: Create
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /projects/list:
    get:
      tags:
        - Project
      summary: Retrieve all Projects
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
  /projects/{id}:
    get:
      tags:
        - Project
      summary: Get One Project
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 75056021-9a86-4df2-8d4b-3bcfb699c0ee
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    put:
      tags:
        - Project
      summary: Update Project
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 75056021-9a86-4df2-8d4b-3bcfb699c0ee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    delete:
      tags:
        - Project
      summary: Delete Project
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: b824a211-58d0-403b-85f7-cdb1a659d8e6
      responses:
        '204':
          description: Successful response
          content:
            application/json: {}
  /projects/create:
    post:
      tags:
        - Project
      summary: Create Project
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /tasks/list:
    get:
      tags:
        - Task
      summary: Retrieve all Tasks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
  /tasks/create:
    post:
      tags:
        - Task
      summary: Create Task
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /tasks/{id}:
    put:
      tags:
        - Task
      summary: Update Task
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4168da7c-789d-4ab0-86a6-da49cc1be1e8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    delete:
      tags:
        - Task
      summary: Delete Task
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 9abb5d19-e480-4241-8694-c428d5a95c3d
      responses:
        '204':
          description: Successful response
          content:
            application/json: {}
  /users/list:
    get:
      tags:
        - Users
      summary: Retrieve all Users
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /users/create:
    post:
      tags:
        - Users
      summary: Create User
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users/{id}:
    get:
      tags:
        - Users
      summary: Retrieve one User
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 7ec855d9-ab72-42a9-bfa7-3600a106aa6c
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    delete:
      tags:
        - Users
      summary: Delete User
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 44e36b22-87ec-4127-9b9c-734bac2eeaa7
      responses:
        '204':
          description: Successful response
          content:
            application/json: {}
  /users/profile:
    get:
      tags:
        - Users
      summary: Retrieve User Profile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /worklogs/list:
    get:
      tags:
        - Work Log Service
      summary: Retrieve all My Logs
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkLog'
  /worklogs/start:
    post:
      tags:
        - Work Log Service
      summary: Create Log
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkLog'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkLog'
  /worklogs/end:
    post:
      tags:
        - Work Log Service
      summary: Stop Work Logs
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkLog'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkLog'
  /invoices/list:
    get:
      tags:
        - Invoices
      summary: Retrieve all Invoices
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
  /invoices/create:
    post:
      tags:
        - Invoices
      summary: Create Invoice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /invoices/{userId}:
    get:
      tags:
        - Invoices
      summary: Get User Invoices
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 44e36b22-87ec-4127-9b9c-734bac2eeaa7
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
  /invoices/{invoiceId}/pay:
    put:
      tags:
        - Invoices
      summary: Pay Invoice
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: d9fd41db-1f6c-4f1d-ac2f-8c831b01a26b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /permissions/list:
    get:
      tags:
        - Permission
      summary: Retrieve all Permissions
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
  /permissions/create:
    post:
      tags:
        - Permission
      summary: Create Permission
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
  /events/list:
    get:
      tags:
        - Events
      summary: Retrieve all Events
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Events'
  
security:
  - BearerAuth: []